// :root {
//   --width: 21cm;
//   --margin: 1.24cm;
//   --height: 29.7cm;
//   --offset: calc(var(--margin) * 2);
// }

@page {
  @bottom-center {
    font-size: 9pt;
    color: #7f7f7f;
    content: 'Americas International xPerts - 2025';
  }
}
